<div class="jumbotron">
  <h1>Hello, food lover!</h1>
  <p>
    We're here to make eating out a doddle! We can tell you what lies behind that menu card.
    <br>
    <br>
    Don't like fish? Allergic to nuts? No problem! Happy Eat will help you choose a dish you can enjoy!
  </p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
