<div class="jumbotron">
  <h1>Hello, food lover!</h1>
  <p>We're here to make eating out with allergies a doddle</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
